.logo-container {
    margin: auto;
    height: 15%;
    /* width: 100%; */
    width: 60%;
    position: fixed;
    display: flex;
    /* justify-content: center; */
    justify-content: left;
    flex-direction: row;
    /* background-color: purple; */
}

.logo {
    height: 70%;
    width: 10vh;
    /* background-color: #B75129; */
    margin-top: auto;
    margin-bottom: auto;
    text-decoration-line: none;
    border-radius: 100;
    z-index: 1;
}

.logo:hover {
    background-color: #CAB19D;
    cursor: pointer;
    border-radius: 100px;
}

#bioImage {
    height: auto;
    /* width: 100%; */
    margin: auto;
    display: table-row;
    width: 35vh;
    border-radius: 30px;
    /* margin-bottom: 10px; */
}

.content-header {
    margin: auto;
    display: flex;
    position: relative;
    justify-content: center;
    width: 60%;
    position: fixed;
    font-size: 13vh;
    z-index: 0;
    color: #1A2426;
}

.component-container {
    /* background: blue; */
    height: 75%;
    width: 60%;
    margin: auto;
    display: block;
}
